@tailwind base;
@tailwind components;
@tailwind utilities;

.board-container {
  appearance: none;
}

:root {
  --scrollbar-bg: white;
}

[data-theme="dark"] {
  --scrollbar-bg: #2b2c37;
}

::-webkit-scrollbar {
  width: 0.75rem;
  /* height: 0.75rem; width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-bg); /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #635fc7; /* color of the scroll thumb */
}

textarea,
input {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}
